<div class="container">
    <header class="site-header">
        <image src="images/logo.png" width="350" height="100">
            <nav>
                <span class="menu">
                    <ul>
                        <li><a><%= link_to "Home" , home_path %> </a></li>
                        <% if current_user %>
                            Logged in as <%= current_user.email %>.
                            <li><a><%= link_to "Log Out", logout_path %></li></a>
                        <% else %>
                            <li><a><%= link_to "Sign Up", signup_path %></li></a>
                            <li><a><%= link_to "Log In", login_path %></li></a>
                        <% end %>
                        <li><a><%= link_to "About" , root_path %></a></li>
                        
                    </ul>
                </span>
            </nav>
    </header>
    <div class="site-main">
        <div>
        <p id="alert"><%= alert %></p>
        <h1>Login</h1>
        <%= form_tag sessions_path do |form| %>
          <div class="field">
            <%= label_tag :email %>
            <%= text_field_tag :email %>
          </div>
          <div class="field">
            <%= label_tag :password %>
            <%= password_field_tag :password %>
          </div>
          <div class="actions">
            <%= submit_tag "Login" %>
          </div>
          
        <% end %>
        </div>
    </div>
    <footer class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </footer>
</div>