<div class="container">
    <header class="site-header">
        <image src="/images/logo.png" width="350" height="100">
            <nav>
            <span class="menu">
            <ul>
                <li><a><%= link_to "Home" , home_path %> </a></li>
                <% if current_user %>
                    
                    
                <% else %>
                    <li><a><%= link_to "Sign Up", signup_path %></li></a>
                    <li><a><%= link_to "Log In", login_path %></li></a>
                <% end %>
                <li><a><%= link_to "About" , about_path %></a></li>
                
                <% if current_user %>
                    <li><a><%= link_to "Log Out", logout_path %></li></a>
                    <li><a><%= link_to "Edit", edit_user_path(current_user) %></li></a>
                    Logged in as <%= current_user.email %>.
                    
                <% end %>
            </ul>
        </span>
            </nav>
    </header>
    <div class="site-main">
        <div>
        <%= form_with(model: user, local: true) do |form| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        
              <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        
          <h1>Editing User</h1>
          <div class="field">
            <%= form.label :email %>
            <%= form.text_field :email %>
          </div>
        
          <div class="field">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div>
        
          <div class="field">
            <%= form.label :Password_Confirmation %>
            <%= form.password_field :Password_Confirmation %>
          </div>
        
          <div class="actions">
            <%=  form.submit %>
          </div>
        <% end %>
        </div>
    </div>
    <footer class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </footer>
</div>
