<div class="container">
    <header class="site-header">
        <image src="images/logo.png" width="350" height="100">
            <nav>
            <span class="menu">
                    <ul>
                        <li><a><%= link_to "Home" , home_path %> </a></li>
                        <% if current_user %>
                            
                            
                        <% else %>
                            <li><a><%= link_to "Sign Up", signup_path %></li></a>
                            <li><a><%= link_to "Log In", login_path %></li></a>
                        <% end %>
                        <li><a><%= link_to "About" , about_path %></a></li>
                        
                        <% if current_user %>
                            <li><a><%= link_to "Log Out", logout_path %></li></a>
                            <li><a><%= link_to "Edit", edit_user_path(current_user) %></li></a>
                            Logged in as <%= current_user.email %>.
                            
                        <% end %>
                    </ul>
                </span>
            </nav>
    </header>
    <div class="site-main">
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Team Member</p>
            </header>
            <article>
                <p style="text-align: center;"><b>Auttaphol Thongvicit 5810613256</b></p>
                <p style="text-align: center;"><b>Tuchdech Jirabunyadech 5910613248</b></p>
                <p style="text-align: center;"><b>Boonyanut Puingyamsual 5910613305</b></p>
                <p style="text-align: center;"><b>Kittikun Kittithammo 5910613321</b></p>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Proposal</p>
            </header>
            <article>
                <center>
                    <table cellspacing="20">
                        <tr>
                            <td><img src="images/pro1.png" width="350px" height="350px"></td>
                            <td><img src="images/pro2.png" width="350px" height="350px"></td>
                        </tr>
                        <tr>
                            <td><img src="images/pro3.png" width="350px" height="350px"></td>
                            <td><img src="images/pro4.png" width="350px" height="350px"></td>
                        </tr>
                    </table>
                </center>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">User Stories</p>
            </header>
            <article>
                <img src="images/story1.png" width="500px" height="400px">
                <img src="images/story2.png" width="500px" height="400px">
                <img src="images/story3.png" width="500px" height="400px">
                <img src="images/story4.png" width="500px" height="400px">
                <img src="images/story5.png" width="500px" height="400px">
                <img src="images/story6.png" width="500px" height="400px">
                <img src="images/story7.png" width="500px" height="400px">
                <img src="images/story8.png" width="500px" height="400px">
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Gitlab Repository Link</p>
            </header>
            <article>
                <center>
                    <p style="font-size: 1.2em"><a href="https://gitlab.com/5910613248/24preorder.git">https://gitlab.com/5910613248/24preorder.git</a></p>
                </center>
            </article>
        </div>
        <div>
            <header>
                <p style="font-size:2em;text-align: center;color:orange">Pivotal Tracker Link</p>
            </header>
            <article>
                <center>
                    <p style="font-size: 1.2em"><a href="https://www.pivotaltracker.com/projects/2407283">https://www.pivotaltracker.com/projects/2407283</a></p>
                </center>
            </article>
        </div>
    </div>
    <footer class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </footer>
</div>