

<div class="container">
    <header class="site-header">
        <image src="/images/logo.png" width="350" height="100">
            <nav>
            <span class="menu">
            <ul>
                <li><a><%= link_to "Home" , home_path %> </a></li>
                <% if current_user %>
                    
                    
                <% else %>
                    <li><a><%= link_to "Sign Up", signup_path %></li></a>
                    <li><a><%= link_to "Log In", login_path %></li></a>
                <% end %>
                <li><a><%= link_to "About" , about_path %></a></li>
                
                <% if current_user %>
                    <li><a><%= link_to "Log Out", logout_path %></li></a>
                    <li><a><%= link_to "Edit", edit_user_path(current_user) %></li></a>
                    Logged in as <%= current_user.email %>.
                    
                <% end %>
            </ul>
        </span>
            </nav>
    </header>
    <div class="site-main">
        <div>
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Email:</strong>
              <%= @user.email %>
            </p>
            
            <%= link_to 'Edit', edit_user_path(@user) %> |
            <%= link_to 'Back', root_path %>
            
        </div>
    </div>
    <footer class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </footer>
</div>
