<div class="container">
    <header class="site-header">
        <image src="images/logo.png" width="350" height="100">
            <nav>
                <span class="menu">
                    <ul>
                        <li><a><%= link_to "Home" , home_path %> </a></li>
                        <% if current_user %>
                            
                            
                        <% else %>
                            <li><a><%= link_to "Sign Up", signup_path %></li></a>
                            <li><a><%= link_to "Log In", login_path %></li></a>
                        <% end %>
                        <li><a><%= link_to "About" , about_path %></a></li>
                        
                        <% if current_user %>
                            <li><a><%= link_to "Log Out", logout_path %></li></a>
                            <%= link_to 'Edit', edit_user_path(@user) %> |
                            Logged in as <%= current_user.email %>.
                            
                        <% end %>
                    </ul>
                </span>
            </nav>
    </header>
    <div class="site-main">
        <div>
            <img src="images/maintain.jpg" style="padding-top:100px;padding-bottom: 100px">
        </div>
        <div>
            <img src="images/run1.png" style="padding-top:20px;padding-bottom: 20px" width="1280" height="720">
        </div>
        <div>
            <img src="images/run2.png" style="padding-top:20px;padding-bottom: 20px">
        </div>
        <div>
            <img src="images/run3.png" style="padding-top:20px;padding-bottom: 20px">
        </div>
    </div>
    <footer class="site-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </footer>
</div>