= form_for @my_user do |f|
  - if @my_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@my_user.errors.count, "error")} prohibited this my_user from being saved:"
      %ul
        - @my_user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.text_field :password
  .actions
    = f.submit 'Save'
