%h1 Register Page

%table
  %thead
    %tr
      %th Email (Username)
      %th 
      %th
      %th
      %th

  %tbody
    - @my_users.each do |my_user|
      %tr
        %td= my_user.email
        %td= my_user.password
        %td= link_to 'Show', my_user
        %td= link_to 'Edit', edit_my_user_path(my_user)
        %td= link_to 'Destroy', my_user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New My user', new_my_user_path
