<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
    <link rel="stylesheet" href="css/welcome.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
